@{
    ViewData["Title"] = "About";
}

<section class="page-section" id="contact">
    <h2 style="margin-left: 50px; margin-bottom:30px">Contact Us</h2>
    <p style="margin-left: 70px;">Have questions or inquiries? Reach out to us!</p>

    <div style="margin-left:30px;">

        <p style="margin-left: 40px;"><strong>The Bulgarian Tourism Company</strong></p>

        <address style="display: flex; align-items: center; margin-left: 30px; margin-bottom:10px;">
            <span class="material-symbols-outlined" style="margin-right: 10px; margin-left: 10px;">
                home
            </span>
            <p style="margin: 0;">Address: &nbsp; 1000 Sofia 2 "Dondukov" Blvd</p>
        </address>

        <div style="display: flex; align-items: center; margin-left: 30px; margin-bottom:10px;">
            <span class="material-symbols-outlined" style="margin-right: 10px; margin-left: 10px;">
                mail
            </span>
            <p style="margin: 0;">Email: &nbsp; info@bg-explorer.com</p>
        </div>

        <div style="display: flex; align-items: center; margin-left: 30px;">
            <span class="material-symbols-outlined" style="margin-right: 10px; margin-left: 10px;">
                call
            </span>
            <p style="margin: 0;">Phone: +359 123-456</p>
        </div>
    </div>

</section>
